<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Guess the number X between 1 and 100:  (hit enter to confirm)</h2>
<input [(ngModel)]="myNumber" (keyup.enter)="confirmNumber()" />

<ul>
  <li>
    <h2>{{myNumber?.toString().length > 0 ? 'Do you want to pick ' + myNumber + '?' : 'Inform a number' }}
    </h2>
  </li>
  <li *ngFor="let g of guesses">
    <h3>{{g}}</h3>
  </li>

</ul>
</div>


